.custom-dashed-border-blue {
    -fx-border-color: blue ;
    -fx-border-width: 5 ;
    -fx-border-style: segments(10, 15, 15, 15)  line-cap round ;
}
.custom-dashed-border-green {
    -fx-border-color: green ;
    -fx-border-width: 5 ;
    -fx-border-style: segments(10, 15, 15, 15)  line-cap round ;
}